/* Estilos base para todas las pantallas */
body {
    background-color: #ff8ae2; /* Fondo rosa pastel */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: inline-block; /* Mostrar las cartas en línea */
    width: calc(100% - 20px); /* Calcular el ancho de las cartas para tener en cuenta el margen */
    box-sizing: border-box; /* Incluir el padding y el borde en el ancho */
    text-align: center; /* Centrar el contenido */
}

.card h2 {
    margin-bottom: 10px; /* Espaciado inferior para el título */
    color: #ff35f9; /* Texto rosa pastel */
}

.card p {
    margin-bottom: 20px; /* Espaciado inferior para la descripción */
    text-align: left; /* Alinear el texto a la izquierda */
    color: #da34ff; /* Texto morado */
}

.card button {
    display: block; /* Mostrar el botón como un bloque */
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: #ff3475; /* Fondo rosa */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media queries para tabletas */
@media (min-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Ajustar el tamaño de las cartas para mostrar dos en una fila */
    }
}

/* Media queries para pantallas de computadoras */
@media (min-width: 1024px) {
    .card {
        width: calc(33.333% - 20px); /* Ajustar el tamaño de las cartas para mostrar tres en una fila */
    }
}

header {
    background-color: #da34ff; /* Fondo rosa pastel */
    color: #fff; /* Texto blanco */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    color: #fff; /* Texto blanco */
}

.navbar {
    display: flex;
    align-items: center;
}

.montecarlo-regular {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
  }